<a href="https://www.kaggle.com/code/oenvespa/titanic-prediction-using-random-forest-cla?scriptVersionId=115260557" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

**LOAD TRAIN AND TEST DATA SET. CONVERT TO NUMERICAL VARIABLES**

In [2]:
train=pd.read_csv('/kaggle/input/titanic/train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Change categorical to numerical variable

In [3]:
dummies=pd.get_dummies(train['Sex'])
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [4]:
train=pd.concat([train,dummies],axis='columns')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1

In [5]:
dummiesE=pd.get_dummies(train['Embarked'])
dummiesE.head()

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [6]:
train=pd.concat([train,dummiesE],axis='columns')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male,C,Q,S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1,0,0,1

In [7]:
train.drop(['Name','Ticket','Sex','Cabin','Embarked'],axis=1,inplace=True)

In [8]:
train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,female,male,C,Q,S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

**UNDERSTAND CORRELATION**

In [9]:
train.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,female,male,C,Q,S
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658,-0.042939,0.042939,-0.001205,-0.033606,0.022148
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,0.543351,-0.543351,0.168240,0.003650,-0.155660
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,-0.131900,0.131900,-0.243292,0.221009,0.081720
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,-0.093254,0.093254,0.036261,-0.022405,-0.032523
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,0.114631,-0.114631,-0.059528,-0.026354,0.070941
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,0.245489,-0.245489,-0.011069,-0.081228,0.063036
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,0.182333,-0.182333,0.269335,-0.117216,-0.166603
female,-0.042939,0.543351,-0.131900,-0.093254,0.114631,0.245489,0.182333,1.000000,-1.000000,0.082853,0.074115,-0.125722
male,0.042939,-0.543351,0.131900,0.093254,-0.114631,-0.245489,-0.182333,-1.000000,1.000000,-0.082853,-0.074115,0.125722
C,-0.001205,0.168240,-0.243292,0.036261,-0.059528,-0.011069,0.269335,0.082853,-0.082853,1.000000,-0.148258,-0.778359
Q,-0.033606,0.003650,0.221009,-0.022405,-0.026354,-0.081228,-0.117216,0.074115,-0.074115,-0.148258,1.000000,-0.496624
S,0.022148,-0.155660,0.081720,-0.032523,0.070941,0.063036,-0.166603,-0.125722,0.125722,-0.778359,-0.496624,1.000000

**IDENTIFY MISSING VALUES**

In [10]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Age            177
SibSp            0
Parch            0
Fare             0
female           0
male             0
C                0
Q                0
S                0
dtype: int64

**IMPIUTATION OF TRAIN DATA**

In [11]:
from sklearn.impute import SimpleImputer

# Fill in the lines below: imputation
my_imputer = SimpleImputer(strategy='median')
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(train))


# Fill in the lines below: imputation removed column names; put them back
imputed_X_train.columns = train.columns

In [12]:
imputed_X_train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
female         0
male           0
C              0
Q              0
S              0
dtype: int64

**Examine test data**

In [13]:
test=pd.read_csv('/kaggle/input/titanic/test.csv')
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [14]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [15]:
test.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)

In [16]:
dummies_T=pd.get_dummies(test['Sex'])
dummies_T.head()

   female  male
0       0     1
1       1     0
2       0     1
3       0     1
4       1     0

In [17]:
test=pd.concat([test,dummies_T],axis='columns')
test.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,female,male
0,892,3,male,34.5,0,0,7.8292,Q,0,1
1,893,3,female,47.0,1,0,7.0000,S,1,0
2,894,2,male,62.0,0,0,9.6875,Q,0,1
3,895,3,male,27.0,0,0,8.6625,S,0,1
4,896,3,female,22.0,1,1,12.2875,S,1,0

In [18]:
test.drop(['Sex'],axis=1,inplace=True)
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare Embarked  female  male
0          892       3  34.5      0      0   7.8292        Q       0     1
1          893       3  47.0      1      0   7.0000        S       1     0
2          894       2  62.0      0      0   9.6875        Q       0     1
3          895       3  27.0      0      0   8.6625        S       0     1
4          896       3  22.0      1      1  12.2875        S       1     0

In [19]:
dummies_Em=pd.get_dummies(test['Embarked'])
dummies_Em.head()

   C  Q  S
0  0  1  0
1  0  0  1
2  0  1  0
3  0  0  1
4  0  0  1

In [20]:
test=pd.concat([test,dummies_Em],axis='columns')
test.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Embarked,female,male,C,Q,S
0,892,3,34.5,0,0,7.8292,Q,0,1,0,1,0
1,893,3,47.0,1,0,7.0000,S,1,0,0,0,1
2,894,2,62.0,0,0,9.6875,Q,0,1,0,1,0
3,895,3,27.0,0,0,8.6625,S,0,1,0,0,1
4,896,3,22.0,1,1,12.2875,S,1,0,0,0,1

In [21]:
test.drop(['Embarked'],axis=1,inplace=True)
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  female  male  C  Q  S
0          892       3  34.5      0      0   7.8292       0     1  0  1  0
1          893       3  47.0      1      0   7.0000       1     0  0  0  1
2          894       2  62.0      0      0   9.6875       0     1  0  1  0
3          895       3  27.0      0      0   8.6625       0     1  0  0  1
4          896       3  22.0      1      1  12.2875       1     0  0  0  1

**IDENTIFY MISSING DATA**

In [22]:
test.isnull().sum()

PassengerId     0
Pclass          0
Age            86
SibSp           0
Parch           0
Fare            1
female          0
male            0
C               0
Q               0
S               0
dtype: int64

In [23]:
test.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,female,male,C,Q,S
count,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,2.265550,30.272590,0.447368,0.392344,35.627188,0.363636,0.636364,0.244019,0.110048,0.645933
std,120.810458,0.841838,14.181209,0.896760,0.981429,55.907576,0.481622,0.481622,0.430019,0.313324,0.478803
min,892.000000,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,21.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1100.500000,3.000000,27.000000,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000,0.000000,1.000000
75%,1204.750000,3.000000,39.000000,1.000000,0.000000,31.500000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1309.000000,3.000000,76.000000,8.000000,9.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000

**IMPUTATION**

In [24]:
from sklearn.impute import SimpleImputer

# Fill in the lines below: imputation
my_imputer = SimpleImputer(strategy='median')
imputed_X_test = pd.DataFrame(my_imputer.fit_transform(test))


# Fill in the lines below: imputation removed column names; put them back
imputed_X_test.columns = test.columns

In [25]:
imputed_X_test.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
female         0
male           0
C              0
Q              0
S              0
dtype: int64

In [26]:
imputed_X_test.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,female,male,C,Q,S
0,892.0,3.0,34.5,0.0,0.0,7.8292,0.0,1.0,0.0,1.0,0.0
1,893.0,3.0,47.0,1.0,0.0,7.0000,1.0,0.0,0.0,0.0,1.0
2,894.0,2.0,62.0,0.0,0.0,9.6875,0.0,1.0,0.0,1.0,0.0
3,895.0,3.0,27.0,0.0,0.0,8.6625,0.0,1.0,0.0,0.0,1.0
4,896.0,3.0,22.0,1.0,1.0,12.2875,1.0,0.0,0.0,0.0,1.0

**GENERATE PREDICTION**

In [27]:
from sklearn.ensemble import RandomForestClassifier
features=['PassengerId','Pclass','Age','SibSp','Parch','Fare','female','male','C','Q','S']
X=pd.get_dummies(imputed_X_train[features])
y=imputed_X_train['Survived']

X_test=pd.get_dummies(imputed_X_test[features])
model=RandomForestClassifier(n_estimators=500,max_depth=7,random_state=42,bootstrap=True,oob_score=True)
model.fit(X,y)
prediction = model.predict(X_test)
result=pd.DataFrame({'PassengerId':imputed_X_test.PassengerId,'Survived':prediction})

In [28]:
result.head()

   PassengerId  Survived
0        892.0       0.0
1        893.0       0.0
2        894.0       0.0
3        895.0       0.0
4        896.0       0.0

In [29]:
result.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.322967
std     120.810458    0.468170
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [30]:
result = result.astype(int)

In [31]:
result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [32]:
result.to_csv('submission.csv',index=False)